        
.light {  
  /* General */
  --text:  #222222;
  --body-text: var(--text);
  --input-background: #FFFFFF;
  --input-placeholder: #777777;
  
  --image-invert: 0%;               /* invert black-transparent images to white
  
  /* Graph */
  --graph-hover: #BBBBBB;
  --graph-selected: #CCCCCC;
  --graph-decoration-color: DarkBlue;
  
  /* Settings */
  --green-text: green;
  --red-text: red;
  --grey-text: var(--text);
  --code-text: dark-grey;
  
  /* Main */
  --main-background: #DDDDDD;
  --dim-text: #777777; 
  
  --message-color: #0033FF;
  --message-placeholder: var(--text);
  
  --history-icon-brightness: 1;                 /* keep original */
}
 
.dark {
  /* General */
  --text:  #DDDDDD;                 /* in html and main windows (almost white) */
  --body-background: #454442;       /* in html windows (dark grey) */
  --body-text: var(--text);         /* in html windows and inputs */
  --link-color: #efc918;            /* in html windows */
  --image-invert: 80%;               /* invert black-transparent images to white
  
  /* Graph */
  --graph-hover: #666666;            /* (dark grey) */
  --graph-selected: #CCCCCC;         /* (light grey) */
  --graph-decoration-color: #d6b51d; /* (mustard yellow) */
  
  /* Settings */
  --input-background: #505050;      /* in html windows (slightly less dark grey) */
  --input-placeholder: #999999;     /* placeholder text in html inputs (lighter grey) */
  --green-text: #5ff35f;         /* url works (green) */
  --red-text: #fd2020;           /* url fails (red) */
  --grey-text: var(--text);      /* (dark grey) */
  --code-text: #d6b51d;       /* (dark grey) */
  
  /* Notes */
  --code-background: #606060;
  
  /* Merge */
  --merge-color: black;
  --merge-body-background: #999999;
  --merge-arrow: #999999;
  
  /* Main window (different to rest of windows) */
  --main-background: var(--body-background);    /* main window background color (same as for html) */
  --dim-text: #777777;                          /* search text-switch off-state */
  --message-color: #efc918;                     /* message field: history and edit color (mustard yellow) */
  --message-placeholder: var(--text);           /* message field: other texts */
  --history-icon-brightness: 10;                 /* make white */
}   


img{
  filter: invert( var(--image-invert) );
}



/* Style inputs */

/* Focus (grey rectangle when element in focus) */
textarea:focus, 
input[type=text]:focus 
{
  outline: 0; /* Removes the default blue ring */

  /* Now, let's create our own focus style */
  border-radius: 3px;
  box-shadow: 0 0 0 2px grey;
}
