        
.light {  
  /* General */
  --text:  #222222;
  --body-text: var(--text);
  --input-background: #FFFFFF;
  --input-placeholder: #777777;
  
  /* Graph */
  --graph-hover: #BBBBBB;
  --graph-selected: #CCCCCC;
  --graph-decoration-color: DarkBlue;
  
  /* Settings */
  --green-text: green;
  --red-text: red;
  --grey-text: var(--text);
  --code-text: dark-grey;
  
  /* Main */
  --main-background: #DDDDDD;
  --dim-text: #777777; /* used in switch off */
  --message-color: #0033FF;
  --message-placeholder: var(--text);
}
 
.dark {
  /* General */
  --text:  #DDDDDD;
  --body-background: #454442;
  --body-text: var(--text);
  --input-background: #505050;
  --input-placeholder: #999999;
  
  /* Graph */
  --graph-hover: #666666;
  --graph-selected: #CCCCCC;
  --graph-decoration-color: #d6b51d;
  
  /* Settings */
  --green-text: #5ff35f;
  --red-text: #fd2020;
  --grey-text: var(--text);
  --code-text: light-grey;
  
  /* Main */
  --main-background: var(--body-background);
  --dim-text: #777777; /* used in switch off */
  --message-color: #efc918;
  --message-placeholder: var(--text);
}   
