html {
  margin: 0px;
  overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    color:  var(--body-text);
    background-color: var(--body-background);
    font-size: 14px;
    border: none;
    border: 5px solid;
    height: max-content;
}

        
error{
    border-color: var(--err-color);
}

warning{
    border-color: var(--warn-color);
}


::-webkit-scrollbar-thumb {
  display: none;
}


div#outer-content {
    width: -webkit-fill-available;
    /* height: -webkit-fill-available; */
}

#titleDiv {
    height: 20px;
    overflow: auto;
    /* padding-bottom: 20px; */
}
#messageDiv {
    overflow: auto;
    height: auto;
    margin-bottom: 15px;
    margin-top: 10px;
}
#messageText{
    background-color: var(--input-background);
}

#buttonDiv{
    height: 30px
    bottom: 20px;
    height: 20px;
    right: 20px;
}

div#inner-content {overflow: auto;/* width: 90%; *//* width: 90%; *//* height: -webkit-fill-available; */margin-left: 10px;margin-right: 10px;}


.OK-button{
  float: Right;
  /* bottom: 10px; */
}
