html {
  margin: 0px;
  padding: 50px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  background-color: #dddddd;
}
  
}

::-webkit-scrollbar-thumb {
  display: none;
}


table, tr, td {
  margin: 0px;
  width:auto;
}

div#content {
  background-color: #dddddd;
  margin: 20px;
  padding: 0px;

}

div#inner-content {
  margin: 10px;
  width:100%;
}


.Cancel-button{
  float: Right; 
}

.OK-button{
  float: Right; 
}
