html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


body {
  
  padding: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: #dddddd; */
}



::-webkit-scrollbar-thumb {
  display: none;
}


div#content {
  background-color: #dddddd;
  margin: 0px;
  padding: 0px;

}

div#inner-content {
  margin: 0px;
  width:auto;
}



table#outer_table {
  width: auto;
  height: auto;
}



/* Style Tabs     */

#header{
    position: fixed;
    top: 0px;
    height:auto;
    width: -webkit-fill-available;
    background-color: var(--body-background);
    z-index: 30;
    padding: 20;
    margin-right: 20px;
}

.buttonWrapper {
  /* float: left; */
}

.wrapper, .toolWrapper{
    border-bottom-style: solid;
    display: flex;
}

.tab-button {

    letter-spacing: 2px;
    border: none;
    padding: 10px;
    background-color: var(--tab-deselected);
    color: #232c3d;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    width: fit-content;
    outline: none;
}


.tab-button-small {
    letter-spacing: 2px;
    border: none;
    padding: 8px;
    background-color: var(--tab-deselected);
    color: #232c3d;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
    width: fit-content;
    outline: none;

}


button:hover {
    background-color: #d5e3ff;
}


.tab-button.active, .tab-button-small.active{
    background-color: var(--tab-selected);
}

.tool-content{
    margin-top: 12;
    display: block;
}

.toolTable{
    width: 100%;
}

.toolInputField{
  width: 80%;
}

        
tr.tool{
    border-bottom: 0;
}


.toolButton{
    /* width: 100%; */
}


#outer-content{
    margin: 0px;
}



