html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: var(--main-background);
  border-color: var(--main-background);
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  border-color: var(--main-background);
  color: var(--text);
  font-family: Arial;
}


label {
  font-size: 9pt; 
  display: block;
}
input{
    display: inline-block;
    color: var(--text);
    border-width: thin;
    background-color: var(--input-background);
}  
input::placeholder {
  color: var(--input-placeholder);
}

textarea{
    color: var(--text);
    border-width: thin;
    background-color: var(--input-background);
}  
textarea::placeholder {
  color: var(--input-placeholder);
}

.group{
    display: inline-block;
    text-align: left;
}



::-webkit-scrollbar-thumb {
  display: none;
}


div#content {
  background-color: var(--main-background);
  border-color: var(--main-background);
  margin: 0px;
  padding: 0px;

}

div#inner-content {
  margin: 0px;
  height: inherit;
  width:auto;
}



table#outer_table {
  width: auto;
  height: inherit;
  background-color: var(--main-background);
  border-color: var(--main-background);
}

tr#output_row {
  width: auto;
  height: fit-content;
}

td {
  width: auto;
  height: auto;
}

.settingsActionCell{
  text-align: center;
}

.message_column{
  width: 100%;
  margin-right: 6px;
}


.message{
  width: 100%;
  height: 100%;
}

#arrow_table{
  height: inherit; 
}



.store-button{
  float: right; 
}



.top-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 28px;
  background-color: #7a7c7c;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.bottom-titlebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 28px;
  background-color: #7a7c7c;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.top-titlebar-notes-icon, .top-titlebar-pinned-icon, .bottom-titlebar-more-icon{
  display:inline;
  vertical-align:middle;
  -webkit-app-region: no-drag;
}

.about-icon, .bottom-titlebar-folder-icon{
  position: absolute;
  left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.bottom-titlebar-text {
  position: absolute;
  left: 28px;
  width: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Arial;
  font-size: 11pt;
  color: #ffffff;
  -webkit-app-region: no-drag;
}



.bottom-titlebar-stash_pop-icon
 {
  position: absolute;
  right: 80;
  width: auto;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}
.bottom-titlebar-stash-icon
 {
  FONT-WEIGHT: 200;
  position: absolute;
  right: 115;
  width: auto;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}


.top-titlebar-text{
  position: absolute;
  left: 28px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Arial;
  font-size: 11pt;
  color: #ffffff;
  text-align: left
}


.top-titlebar-repo-text,
.top-titlebar-branch-text,
.top-titlebar-branch-arrow,
.bottom-titlebar-status-text{
  display:inline-block;
  font-family: Arial;
  font-size: 11pt;
  color: #ffffff;
  -webkit-app-region: no-drag;
}

.top-titlebar-tag-icon
 {
  position: absolute;
  right: 80px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-push-icon
 {
  position: absolute;
  right: 110px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-pull-icon
 {
  position: absolute;
  right: 140px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-merge-icon
 {
  position: absolute;
  right: 170px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-branch-icon
 {
  position: absolute;
  right: 200px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}


#top-titlebar-minimize-icon{
  position: absolute;
  right: 24px;
  width: 14px; /* Make more narrow than image for better proportions */
  -webkit-app-region: no-drag;
}

#top-titlebar-close-icon{
  position: absolute;
  right: 0px;
  width: 17px;
  -webkit-app-region: no-drag;
}

.top-titlebar-close-field,
.bottom-titlebar-settings-field {
  position: absolute;
  right: 11px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-divider {
  position: absolute;
  left: 0px;
  top: 27px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.bottom-titlebar-divider {
  position: absolute;
  left: 0px;
  bottom: 27px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}


