html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #dddddd;
}
  
textarea::-webkit-input-placeholder {
  color: #222;
}

::-webkit-scrollbar-thumb {
  display: none;
}


div#content {
  background-color: #dddddd;
  margin: 0px;
  padding: 0px;

}

div#inner-content {
  margin: 10px;
  width:auto;
}



table#outer_table {
  width: auto;
  height: auto;
}

td {
  width: auto;
  height: auto; 
}

.settingsActionCell{
  text-align: center;
}

.message_column{
  width: 100%;
  margin-right: 6px;
}


.message{
  width: 100%; 
  height: 100%; 
  color: #03F;
}


div#message-wrapper{
  margin-right: 6px;
}

.store-button{
  float: right; 
}



.top-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.bottom-titlebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.about-icon,
.bottom-titlebar-folder-icon {
  position: absolute;
  left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.bottom-titlebar-text {
  position: absolute;
  left: 32px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Arial;
  font-size: 11pt;
  color: #ffffff;
}

.top-titlebar-text{
  position: absolute;
  left: 32px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Arial;
  font-size: 11pt;
  color: #ffffff;
  text-align: left
}


.top-titlebar-repo-text,
.top-titlebar-branch-text{
  display:inline-block;
  font-family: Arial;
  font-size: 11pt;
  color: #ffffff;
  -webkit-app-region: no-drag;
}


.top-titlebar-close-icon,
.bottom-titlebar-settings-icon {
  position: absolute;
  right: 11px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-divider {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.bottom-titlebar-divider {
  position: absolute;
  left: 0px;
  bottom: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}


