        body{
            font-family: Arial;
            font-size: 11pt;
        }

        
        th{
            background-color: #444;
            color: #fff;
            border-collapse: collapse;
            text-align:left;
            font-size: 12pt;
            padding: 6px;
        }
        table{
            border-collapse: collapse;
            text-align:left;
        }
        tr{
            border-bottom: 2px solid #ccc;
            font-size: 10pt;
        }
        .cloneTableRow{
            border-bottom: 0px solid #ccc;
            font-size: 10pt;
        }

        td{
            padding: 4px;
        }
        h2{
            text-align:left; 
        }
        h4{
            margin-block-end: auto;
        }
        .instructHeader{
            color: CornflowerBlue; 
        }
        .left, h3, h4{
            text-align:left;   
        }
        .right{
            text-align:right;   
        }
        textarea{ 
            width: 100%;
            line-height: 1;
        }
        iframe{
            width: 100%;
        } 
        
        .branchAction {
          width: 15%;
          text-align:right; 
        }  
        .branchName{
          width: 85%;
        }
        
        .cloneLocalFolder{
          width: 100%;
        }
        .localFolder {
          width: 40%;
        }
        .remoteURL {
          width: 44%;
        }
        .setURL {
          width: 8%;
          text-align:center;
        }   
        .repoAction {
          width: 8%;
          text-align:right; 
        } 
        code{
            color: #006400; 
            font-size: 11pt;  
        }
